<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimal-scale=1.0">
    <title>Document</title>
    <!-- form awesome library for adding icons to the form -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <div class="login">
        <h3>Welcome to the Dashboard page!</h3>
        <p>This page houses the data analytics dashboard which shows us the different visualizations of the data collected during the transits made using Citi Bikes. This was made possible with the help of IBM Cognos Analytics.</p>

        <!-- IBM Cognos Analytics dashboard should be imported into here, below : -->
    </div> 
    <iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2FCiti_Bike_Analysis%2B-%2BIntroduction&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model000001844be48b52_00000002" width="320" height="200" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
</body>
</html>